
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #041562;
}

#Seleccionar-mascota{
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: white;
    font-size: 32px;

}
 
.subtitulo{
    color: white;
    font-size: 20px;
    
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 100px;
    background: #11468F;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid hotpink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
}

.tarjeta-de-mokepon img{
    width: 50px;
}

#boton-mascota{
    border: 2px solid white;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}
input{
    display: none;
}